.wheel {
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transform-style: preserve-3d;

  .blur {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .wheel_inner {
    position: relative;
    width: 100%;
    height: 200px;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;

    .wheel_segment {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      position: absolute;
      left: 50%;
    }
  }
}

.background {
  width: 100%;
  height: 100%;
}

@keyframes blur_filter {
  0% {
    filter: blur(0px);
  }

  50% {
    filter: blur(2px);
  }

  100% {
    filter: blur(0px);
  }
}