.wheel {
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;

  .wheel_inner {
    position: relative;
    width: 600px;
    height: 200px;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;

    .wheel_segment {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      position: absolute;
      left: 50%;
      background-color: #ccc;

      &:nth-child(even) {
        background-color: #ddd;
      }
    }
  }
}